<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in - Majordomo</title>
</head>
<body>
    <h1>Sign in</h1>
    <div th:if="${param.error}" style="color: red;">
        <p>Invalid username or password.</p>
    </div>
    <div th:if="${param.logout}" style="color: green;">
        <p>You have been signed out.</p>
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autofocus required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Sign in</button>
    </form>
    <hr>
    <div>
        <a href="/oauth2/authorization/google">Sign in with Google</a>
    </div>
</body>
</html>
